<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="mapper.sellCreditInfoMapper">
            <insert id="insertSellCreditInfo" parameterType="sellCreditInfo">
              INSERT INTO sell_credit_info(`name`,sell_credit,url,credit_date)
              VALUES(#{name},#{sellCredit},#{url},#{creditDate})
            </insert>
        </mapper>